// *************************************
//
//   Media queries
//
// *************************************

// -------------------------------------
//   Variables
// -------------------------------------

$mediaquery_desktop: 									1280px;
$mediaquery_tablets: 									1024px;
$mediaquery_tablets--portrait:				768px;
$mediaquery_phones: 									600px;
$mediaquery_phones-small--portrait: 	480px;



// -------------------------------------
//   Base
// -------------------------------------

